@font-face {
    font-family: 'Poppins-Thin'; /* Nome da fonte para referência */
    src: url('fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Light'; /* Nome da fonte para referência */
    src: url('fonts/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium'; /* Nome da fonte para referência */
    src: url('fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-SemiBold'; /* Nome da fonte para referência */
    src: url('fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold'; /* Nome da fonte para referência */
    src: url('fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}